
body {
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
}

/*Navbar*/
nav {
    background-color: lightgrey;
}
#logo {
    background-color: white;

}

body {
    background-color: #F0F0F0;

}

/*circles*/
.rounded-circle {
    border-radius: 50%;
    background-color: #E6563B;
    height: 105px;
    width: 105px;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-circle:nth-child(2) {
    border-radius: 50%;
    background-color: #DEA03D;
    height: 105px;
    width: 105px;
    border: 5px solid white;
    color: white;
    font-weight: bold;

}

.rounded-circle:nth-child(3) {
    border-radius: 50%;
    background-color: #7CB06C;
    height: 105px;
    width: 105px;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-circle:nth-child(4) {
    border-radius: 50%;
    background-color: #00ABA9;
    height: 105px;
    width: 105px;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Horizontal Row*/
hr {
    width: 66%;
    margin: auto;
    border-color: lightgrey;
}

/*Cards*/
.img-container {
    background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
}
.card{
    background-color: #F0F0F0;
    border: none;
    font-size: 10px;
}

h4 {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
}
.card h4 {
    font-size: 17px;

}

ul {
    list-style-type: none;


}

.feature-container li:nth-child(1) {
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #E6563B;
}

.feature-container li:nth-child(2) {
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #DEA03D;
}

.feature-container li:nth-child(3) {
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #00ABA9;
}

.feature-container li:nth-child(4) {
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #7CB06C;
}

.feature-container li p {
    text-align: center;
    position: relative;
    font-size: 10px;
}
@media screen and (max-width: 768px) {
    .container-work h4{
        text-align: center;
    }
    #left-header {
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 578px) {
    .feature-container h4 {
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {

    .feature-container h4 {
        margin-left: 0;
        font-size: 10px;

    }
    .feature-container {
        margin:0;
    }
    /*.icons ul.mr-3, .icons ul..mx-3 {*/
    /*    margin-right:0;*/
    /*}*/
    #left-header {
        margin-left:0;
    }


}
